[submodule "libs/file-management"]
	path = libs/file-management
	url = https://github.com/Stypox/file-management
[submodule "libs/gl-abstractions"]
	path = libs/gl-abstractions
	url = https://github.com/Stypox/gl-abstractions
[submodule "imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "libs/stock-container"]
	path = libs/stock-container
	url = https://github.com/Stypox/stock-container
[submodule "libs/arg-parser"]
	path = libs/arg-parser
	url = https://github.com/Stypox/arg-parser
[submodule "libs/event-notifier"]
	path = libs/event-notifier
	url = https://github.com/stypox/event-notifier
[submodule "libs/time-facilities"]
	path = libs/time-facilities
	url = https://github.com/Stypox/time-facilities
[submodule "libs/input-listener"]
	path = libs/input-listener
	url = https://github.com/Stypox/input-listener.git
